@page "/ClienteCrearPage"
@using SBX_WEB.Data
@using Radzen;
@inject ClienteServicio clienservicio
@inject NavigationManager NavigationManager

<RadzenTemplateForm TItem="Cliente" Submit=@OnSubmit Data=@cliente>
    <RadzenFieldset Text="Nuevo Cliente">     
          <div class="row">
              <div class="col-md-6">
                  <div class="row  mb-5">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="DNI" />
            </div>
            <div class="col">
                <RadzenTextBox style="display: block;"  Name="DNI" @bind-Value=@cliente.DNI Class="w-100"/>
                <RadzenRequiredValidator Component="DNI" Text="DNI es requerido" Popup=true Style="position: absolute;"/>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Nombre" />
            </div>
            <div class="col">
                <RadzenTextBox style="display: block;" Name="Nombre" @bind-Value=@cliente.Nombre Class="w-100"/>
                <RadzenRequiredValidator Component="Nombre" Text="Nombre es requerido" Popup=true Style="position: absolute;"/>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Ciudad" />
            </div>
            <div class="col">
                <RadzenTextBox style="width: 100%;" Name="Ciudad" @bind-Value=@cliente.Ciudad/>
            </div>
        </div>
    
        <div class="row mb-5">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Direccion" />
            </div>
            <div class="col">
                <RadzenTextBox style="width: 100%;" Name="Direccion" @bind-Value=@cliente.Direccion/>
            </div>
        </div>
              </div>
              <div class="col-md-6">
                  <div class="row mb-5">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Telefono" />
            </div>
            <div class="col">
                <RadzenTextBox style="width: 100%;" Name="telefono" @bind-Value=@cliente.telefono/>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Celular" />
            </div>
            <div class="col">
                <RadzenTextBox style="width: 100%;" Name="celular" @bind-Value=@cliente.Celular/>
                
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Email" />
            </div>
            <div class="col">
                <RadzenTextBox style="width: 100%;" Name="Email" @bind-Value=@cliente.Email/>
            </div>
        </div>    
        <div class="row mb-5">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Sitio web" />
            </div>
            <div class="col">
                <RadzenTextBox style="width: 100%;" Name="Sitio web" @bind-Value=@cliente.SitioWeb/>
            </div>
        </div>        
              </div>
          </div>                 
    </RadzenFieldset>
    <div class="row justify-content-center">
        <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">            
            <RadzenButton ButtonStyle="ButtonStyle.Secondary" ButtonType="ButtonType.Submit" Icon="save" Text="Guardar" style="display: inline-block; margin-left: 10px;" />
            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancelar" Click="@Cancel" />
        </div>
    </div>
</RadzenTemplateForm>

@code {
    Cliente cliente = new Cliente();
    bool v_ok = true;

    protected async void OnSubmit(Cliente arg)
    {
        v_ok = await clienservicio.InsertClienteAsync(arg);
        if (v_ok)
        {
             NavigationManager.NavigateTo("ClientePage");
        }   
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("ClientePage");
    }
}
