<div>
    <RadzenFieldset Text="--">
        <RadzenMenu>
            <RadzenMenuItem Text="Ventas" Path="VentaCrearPage" Icon="shopping_cart"></RadzenMenuItem>
            <RadzenMenuItem Text="Producto" Path="ProductoPage" Icon="shopping_bag"></RadzenMenuItem>
            <RadzenMenuItem Text="Cliente" Path="ClientePage" Icon="person"></RadzenMenuItem>
            <RadzenMenuItem Text="Proveedor" Path="ProveedorPage" Icon="local_shipping"></RadzenMenuItem>
            <RadzenMenuItem Text="Consulta ventas" Path="VentaPage" Icon="local_shipping"></RadzenMenuItem>
            
        </RadzenMenu>
    </RadzenFieldset>
</div>
@code {

}